<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Gear Builds</title>
</head>

<body>

<h1>{{ now }}</h1>

<h2>Vara Node Nightly Builds</h2>
<ul>
    <li>Linux x64<b>{{vara-nightly-linux-x86_64-version}}</b>: <a href="/vara-nightly-linux-x86_64.tar.xz">vara-nightly-linux-x86_64.tar.xz</a> ({{ vara-nightly-linux-x86_64-size }} Mbytes)</li>
    <li>macOS M-series (ARM)<b>{{vara-nightly-macos-m-version}}</b>:</b> <a href="/vara-nightly-macos-m.tar.gz">vara-nightly-macos-m.tar.gz</a> ({{ vara-nightly-macos-m-size }} Mbytes)</li>
    <li>macOS Intel x64<b>{{vara-nightly-macos-x86_64-version}}</b>: <a href="/vara-nightly-macos-x86_64.tar.gz">vara-nightly-macos-x86_64.tar.gz</a> ({{ vara-nightly-macos-x86_64-size }} Mbytes)</li>
    <li>Windows x64<b>{{vara-nightly-windows-x86_64-version}}</b>: <a href="/vara-nightly-windows-x86_64.zip">vara-nightly-windows-x86_64.zip</a> ({{ vara-nightly-windows-x86_64-size }} Mbytes)</li>
</ul>

<h2>Gear Node Nightly Builds</h2>
<ul>
    <li>Linux x64<b>{{gear-nightly-linux-x86_64-version}}</b>: <a href="/gear-nightly-linux-x86_64.tar.xz">gear-nightly-linux-x86_64.tar.xz</a> ({{ gear-nightly-linux-x86_64-size }} Mbytes)</li>
    <li>macOS M-series (ARM)<b>{{gear-nightly-macos-m-version}}</b>: <a href="/gear-nightly-macos-m.tar.gz">gear-nightly-macos-m.tar.gz</a> ({{ gear-nightly-macos-m-size }} Mbytes)</li>
    <li>macOS Intel x64<b>{{gear-nightly-macos-x86_64-version}}</b>: <a href="/gear-nightly-macos-x86_64.tar.gz">gear-nightly-macos-x86_64.tar.gz</a> ({{ gear-nightly-macos-x86_64-size }} Mbytes)</li>
    <li>Windows x64<b>{{gear-nightly-windows-x86_64-version}}</b>: <a href="/gear-nightly-windows-x86_64.zip">gear-nightly-windows-x86_64.zip</a> ({{ gear-nightly-windows-x86_64-size }} Mbytes)</li>
</ul>

</body>
</html>
