<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Gear Builds</title>
</head>

<body>

<h1>Vara Node Nightly Builds</h1>
<ul>
    <li><b>Linux x64:</b> <a href="/vara-nightly-linux-x86_64.tar.xz">vara-nightly-linux-x86_64.tar.xz</a> ({{ vara-nightly-linux-x86_64 }} Mbytes)</li>
    <li><b>macOS M-series (ARM):</b> <a href="/vara-nightly-macos-m.tar.gz">vara-nightly-macos-m.tar.gz</a> ({{ vara-nightly-macos-m }} Mbytes)</li>
    <li><b>macOS Intel x64:</b> <a href="/vara-nightly-macos-x86_64.tar.gz">vara-nightly-macos-x86_64.tar.gz</a> ({{ vara-nightly-macos-x86_64 }} Mbytes)</li>
    <li><b>Windows x64:</b> <a href="/vara-nightly-windows-x86_64.zip">vara-nightly-windows-x86_64.zip</a> ({{ vara-nightly-windows-x86_64 }} Mbytes)</li>
</ul>

<h1>Gear Node Nightly Builds</h1>
<ul>
    <li><b>Linux x64:</b> <a href="/gear-nightly-linux-x86_64.tar.xz">gear-nightly-linux-x86_64.tar.xz</a> ({{ gear-nightly-linux-x86_64 }} Mbytes)</li>
    <li><b>macOS M-series (ARM):</b> <a href="/gear-nightly-macos-m.tar.gz">gear-nightly-macos-m.tar.gz</a> ({{ gear-nightly-macos-m }} Mbytes)</li>
    <li><b>macOS Intel x64:</b> <a href="/gear-nightly-macos-x86_64.tar.gz">gear-nightly-macos-x86_64.tar.gz</a> ({{ gear-nightly-macos-x86_64 }} Mbytes)</li>
    <li><b>Windows x64:</b> <a href="/gear-nightly-windows-x86_64.zip">gear-nightly-windows-x86_64.zip</a> ({{ gear-nightly-windows-x86_64 }} Mbytes)</li>
</ul>

</body>
</html>
