<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Gear Builds</title>
    <meta name="description" content="Gear and Vara node nightly builds.">
    <meta name="keywords" content="Gear, Vara, node, nighly, build, binary, executable">
    <link rel="stylesheet" href="/bulma.min.css"/>
</head>

<body>

<nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://get.gear.rs">
                <img src="/logo.svg" width="100" height="25">
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="content">
        <div class="box">
            <h1>{{ now }}</h1>

            <h2>Gear Node Nightly Builds</h2>
            <ul>
                <li>Linux x64<b>{{gear-nightly-linux-x86_64-version}}</b>: <a href="/gear-nightly-linux-x86_64.tar.xz">gear-nightly-linux-x86_64.tar.xz</a> ({{ gear-nightly-linux-x86_64-size }} Mbytes)</li>
                <li>macOS M-series (ARM)<b>{{gear-nightly-macos-m-version}}</b>: <a href="/gear-nightly-macos-m.tar.gz">gear-nightly-macos-m.tar.gz</a> ({{ gear-nightly-macos-m-size }} Mbytes)</li>
                <li>macOS Intel x64<b>{{gear-nightly-macos-x86_64-version}}</b>: <a href="/gear-nightly-macos-x86_64.tar.gz">gear-nightly-macos-x86_64.tar.gz</a> ({{ gear-nightly-macos-x86_64-size }} Mbytes)</li>
                <li>Windows x64<b>{{gear-nightly-windows-x86_64-version}}</b>: <a href="/gear-nightly-windows-x86_64.zip">gear-nightly-windows-x86_64.zip</a> ({{ gear-nightly-windows-x86_64-size }} Mbytes)</li>
            </ul>

            <h2>Vara Node Stage-2 Nightly Builds</h2>
            <ul>
                <li>Linux x64<b>{{ vara-nightly-linux-x86_64-version }}</b>: <a href="/vara-nightly-linux-x86_64.tar.xz">vara-nightly-linux-x86_64.tar.xz</a> ({{ vara-nightly-linux-x86_64-size }} Mbytes)</li>
                <li>macOS M-series (ARM)<b>{{ vara-nightly-macos-m-version }}</b>:</b> <a href="/vara-nightly-macos-m.tar.gz">vara-nightly-macos-m.tar.gz</a> ({{ vara-nightly-macos-m-size }} Mbytes)</li>
                <li>macOS Intel x64<b>{{ vara-nightly-macos-x86_64-version }}</b>: <a href="/vara-nightly-macos-x86_64.tar.gz">vara-nightly-macos-x86_64.tar.gz</a> ({{ vara-nightly-macos-x86_64-size }} Mbytes)</li>
                <li>Windows x64<b>{{ vara-nightly-windows-x86_64-version }}</b>: <a href="/vara-nightly-windows-x86_64.zip">vara-nightly-windows-x86_64.zip</a> ({{ vara-nightly-windows-x86_64-size }} Mbytes)</li>
            </ul>

            <h2>Vara Node Stage-1 Nightly Builds</h2>
            <ul>
                <li>Linux x64<b>{{ varas1-nightly-linux-x86_64-version }}</b>: <a href="/varas1-nightly-linux-x86_64.tar.xz">varas1-nightly-linux-x86_64.tar.xz</a> ({{ varas1-nightly-linux-x86_64-size }} Mbytes)</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
